pre_publication/*
paper_drafts/*
documentation/*
figures/*
!figures/.gitkeep
tables/*
!tables/.gitkeep
data_raw/*
!data_raw/.gitkeep
workdata/*
!workdata/.gitkeep
#code/*
#!code/.gitkeep
code/interactive_map.R
.gitignore